<div class="card w-50 mx-auto mt-5">
    <div class="card-header text-center">
        Login
    </div>
    <div class="card-body">
    <form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="card-footer text-muted">
            <a href="/signup">Sign Up?</a>
        </div>
    </form> 
</div>