
<h1  class="m-5 text-light text-center">Search for Other Users</h1>
<div class="input-group rounded w-75 mx-auto">
  <input type="search" class="form-control rounded" placeholder="Search Users..." aria-label="Search" aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>