
<h1  class="m-5 text-light text-center">Search for Other Users</h1>

<form autocomplete="off">
  <div class="input-group rounded w-75 mx-auto">
    <input data-options="{{usernames}}" id="search-bar" type="text" class="form-control rounded" placeholder="Search Users..." />
      <button class="input-group-text border-0" id="search-btn" type="submit">
        <i class="fas fa-search"></i>
      </button>
  </div>
</form>

{{#each users as |user index|}}
<div class="users" data-id="{{index}}" data-user-name="{{user.name}}" data-user-image="{{user.image}}"></div>
{{/each}}
<script src="/js/search.js"></script>