<div class="card w-50 mx-auto mt-5">
  <div class="card-header text-center">
    Sign Up
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter Username">
      </div>
       <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div class="text-center">
      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="card-footer text-muted">
        <a href="/login">Login?</a>
      </div>
    </form> 
</div>

<script src="/js/signup.js"></script>